@use '../scssVariables.style.scss' as constants;

.count {
    font-style: italic;
    font-weight: 600;
    font-size: 15rem;
    color: constants.$blue-button;
}

.text {
 font-weight: 400;
 font-size: 2rem;
 color: constants.$text-base-color;
} 